
.form-container {
  background: linear-gradient(90deg, #fe3175, #ff6f63);
  border-radius: 10px;
  box-shadow: 3px 4px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 70%;
  padding: 20px 0;
}
.screen {
  height: 85vh;

}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
  height: 95%;
    width: 95%;
}

.form-content h2 {
  color: white;
  font-size: 55px;
}

.form-content h2 a {
  color: white;
}

.form-content h3 {
  color: #ffffff;
  font-size: 25px;
  font-style: italic;
  margin-top: 20px;
  text-transform: uppercase;
}

.form-content h4 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.form-content p {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.form-content p a {
  text-decoration: underline;
  color: white;
}



.card--match{
  display: flex;
  width: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 20px;
  max-height: 150px;
}

.card--match figure{
  width: 30%;
  margin-right: 10px;
}

.card--match img{
  width: 100%;
  border-radius: 8px;
  max-height: 100%;
  object-fit: cover;
}
.card--match h4{
  color: #ff6f63;
  text-align: left;
}
.card--match li {
  text-align: start;
}

#container--match{
  display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
  .form-container {
    height: 95%;
    width: 95%;
  }
}